<!DOCTYPE html>
<html>
  <head>
    <title>TheGossipProjectViews</title>
  </head>

  <body>
    <p>COUCOU !</p>

    <% Gossip.params.id.each do |gossip| %>
    <%= gossip.title[i] %><br/>
    <%= gossip.content[i] %><br/>
    <% end %>
    <%= yield %>
  </body>
</html>
